
// html5
$use_html5: true !default

// reset sass
$reset_type: "reset" !default

//--------------------------------------------------
// supported browser
//--------------------------------------------------
$support-ie6: false !default
$support-ie7: false !default
$support-ie8: true !default
$support-ie9: true !default
$support-ie10: true !default
$support-ie11: true !default

$support-ios4: false !default
$support-ios5: true !default
$support-ios6: true !default

$support-android2: false !default
$support-android3: true !default
$support-android4: true !default


//-------------------------------------------------
// グリッドサイズ
//-------------------------------------------------
$column-width: 62px !default
$gutter-width: 26px !default

// コンテンツ全体のサイズ
$content-width: ( $column-width * 12 ) + ( $gutter-width * 11 )
//$content-width: 1000px

// レスポンシブフラグ
$support-responsive: true !default

$sp-width: 640px !default
$tablet-width: 768px !default
$desktop-width: $content-width !default
$rowBreak-width: 800px !default


// ------------------------------------------------
// font size
// ------------------------------------------------
$baseFontSizeNum: 13 !default
$baseFontSize: $baseFontSizeNum + px !default

