.u
    &-only
        &--pc
            +tablet
                display: none !important

        &--sp
            display: none !important
            +smartphone
                display: inherit !important


    &-not
        &--pc
            display: none !important
            +tablet
                display: inherit !important

        &--sp
            +smartphone
                display: none !important


    &-inner
        &--tablet
            +tablet
                margin:
                    left: 10px
                    right: 10px

        &--sp
            +smartphone
                margin:
                    left: 10px
                    right: 10px
